@model TecnoCredito.Models.Email.Welcome

<!DOCTYPE html>
<html>

<head>
  <title>Bienvenido a @Model.CompanyName</title>
</head>

<body>
  <h1>¡Hola @Model.UserName!</h1>
  <p>Gracias por registrarte en nuestra plataforma.</p>
  <p>@Model.Message</p>
</body>

</html>
